# Dependencies
/node_modules

# Cypress asset folders
cypress/downloads/
cypress/screenshots/
cypress/videos/
*.log*

# Environment variables and sensitive data
.env
cypress.env.json

# Build artifacts
dist/
build/
*.zip

# Editor and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
